# pandas tips and tricks 4

In [1]:
import pandas as pd 
import seaborn as sns

In [2]:
phool= sns.load_dataset('iris')

In [ ]:
phool.head(100) # for first 100 data

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
1            4.9          3.0           1.4          0.2      setosa
2            4.7          3.2           1.3          0.2      setosa
3            4.6          3.1           1.5          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

[100 rows x 5 columns]

In [ ]:
phool.sample(100) # for random data

     sepal_length  sepal_width  petal_length  petal_width     species
41            4.5          2.3           1.3          0.3      setosa
89            5.5          2.5           4.0          1.3  versicolor
94            5.6          2.7           4.2          1.3  versicolor
99            5.7          2.8           4.1          1.3  versicolor
74            6.4          2.9           4.3          1.3  versicolor
..            ...          ...           ...          ...         ...
96            5.7          2.9           4.2          1.3  versicolor
66            5.6          3.0           4.5          1.5  versicolor
120           6.9          3.2           5.7          2.3   virginica
138           6.0          3.0           4.8          1.8   virginica
9             4.9          3.1           1.5          0.1      setosa

[100 rows x 5 columns]

In [ ]:
phool.to_excel('phool.xlsx') # for creating excel file

In [16]:
import os
print(os.path.exists('../day_6'))  # Ensure the directory exists

True

In [ ]:
phool.to_excel('../day_6/phool.xlsx') # now it is send to day_6

In [19]:
df= pd.read_excel('phool.xlsx')

In [ ]:
df.head()

In [21]:
df.columns

Index(['Unnamed: 0', 'sepal_length', 'sepal_width', 'petal_length',
       'petal_width', 'species'],
      dtype='object')

In [ ]:
df[['sepal_length','sepal_width']]

In [25]:
df.sepal_length.unique()

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5,
       4.5, 5.3, 7. , 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6. , 6.1, 5.6, 6.7,
       6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9])