# How to import data_set in python by using pandas libarary
 written by:  Aqsa fiaz\
 Dated : 2 Dec, 2024\
 email : aqsa2775@gmail.com

In [1]:
# step_1 :
#import Libararies 
import pandas as pd

In [2]:
# step_2:
#importing\reading\data_set
df=pd.read_excel("pandas_01_day6.xlsx")
# write the path to load the data_set from day1_ to day_6
df

   height  weight favourite_ dish
0     5.8     101   Chicken Pulao
1     6.2      92         Biryani
2     5.9      62   Karahi Ghosht
3     5.9      95   Chicken Pulao
4     5.9      55   Chicken Pulao
..    ...     ...             ...
82    5.4      55           Pasta
83    5.9      75   Karahi Ghosht
84    5.4      61         Biryani
85    6.2      68   Chicken Pulao
86    5.1      96         Biryani

[87 rows x 3 columns]

In [3]:
df.head()
# data ky first five rows 
# we can also change the tail size putting number

  height  weight favourite_ dish
0    5.8     101   Chicken Pulao
1    6.2      92         Biryani
2    5.9      62   Karahi Ghosht
3    5.9      95   Chicken Pulao
4    5.9      55   Chicken Pulao

In [4]:
df.tail()
# data ky last five rows 
# we can also change the tail size putting number

   height  weight favourite_ dish
82    5.4      55           Pasta
83    5.9      75   Karahi Ghosht
84    5.4      61         Biryani
85    6.2      68   Chicken Pulao
86    5.1      96         Biryani

In [ ]:
df.shape
# find numbers of rows and colums

In [ ]:
df.info()

In [ ]:
df.info

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.describe()  # Shows the statistical summary of the DataFrame.

In [ ]:
df.describe  # Doesn't show anything, just tells Python you’re referring to the describe method.

In [ ]:
df.T # transpose (row to colums )

In [ ]:
df.sort_index(ascending=False) # data can be reverse

In [ ]:
# df['height']=df['height'].astype(int)
# df['weight']=df['weight'].astype(int)
# df['favourite_ dish']=df['favourite_ dish'].astype(int)

In [ ]:
# df.sort_values(by=height) # after type_casting